mixin About
  +Section.py-6#especialistas
    .row.align-items-center
      .col-md-5.order-md-0.text-center.text-md-start
        img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/call-to-action.png` width="550"  alt='')
      .col-md-6.text-center.text-md-start.offset-md-1
        h6.fw-bold.fs-4.display-3.lh-sm Projetamos &amp; construímos
          br
          | com as melhores 
          br
          |ferramentas.
        p.my-4.pe-xl-5  Nossa equipe é composta por profissionais especialistas em diversas linguagens, frameworks e tecnologias diferentes. Tudo isso para produzir o software mais adequado ao seu projeto.
